* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
}
/**********************************section header*******************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.logo {
  margin: 0 4rem;
}
.Logatype {
  height: 2.4rem;
}
.navigation {
  margin: 1.6rem;
}
.navigation ul {
  display: flex;
  list-style: none;
  gap: 1.6rem;
}

.list--links a:link,
.list--links a:visited {
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
  color: #333;
  padding: 5px;
}

.btn-register a:link,
.btn-register a:visited {
  background-color: #1f438f;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.btn-login a:link,
.btn-login a:visited {
  border: 2px solid #1f438f;
  border-radius: 8px;
}

/********************************section hero*********************************/
.hero-section {
  background-image: url("images/background.jpg");
  background-size: cover;
  padding:  0 9.6rem 4rem 9.6rem;
}

.hero-presentation {
  max-width: 35rem;
  background-color: #638bd28a;
  color: #fff;
  padding:2rem;
  border-radius: 6px;
  margin-top: 2rem;
}

.headding-primary {
  font-size: 3.2rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.presentation-text {
  font-size: 20px;
  margin-bottom: 2rem;
}

.hero-link:link,
.hero-link:visited {
  text-decoration: none;
  font-weight: 600;
  background-color: #1f438f;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
}

/**********************************section services*******************************/
.services-section {
  padding: 4rem 9.6rem;
}

.service {
  text-align: center;
}

.headding-secondary {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.servics-description {
  padding: 0 12.4rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  word-spacing: 0.7;
  margin-bottom: 3rem;
}

.service-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.box {
  border-radius: 9px;
  background-color: #f1f3fa;
  max-width: 15rem;
  padding: 1.8rem;
}

.box-headding {
  font-weight: 700;
  margin-bottom: 1rem;
}

.lorem {
  font-size: 14px;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.service-link {
  text-decoration: none;
  font-weight: 700;
  color: #1f438f;
}

.icon {
  font-size: 1.6rem;
  font-weight: 900;
  border: #1f438f 1px solid;
  color: #1f438f;
  padding: 3px;
  margin-bottom: 10px;
}

/**********************************section about us************************/
.section-about {
  padding: 3rem 9.6rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 2rem;
}
.about-image {
  height: 20rem;
  border-radius: 15px;
}

.headding-tertiary {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.about-description {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

.side-right {
  padding: 3rem 0;
  max-width: 30rem;
}

.about-link {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  background: #1f438f;
  border-radius: 9px;
  padding: 10px 15px;
}

/*********************************section cours ********************************/
.section-courses {
  padding: 4rem 9.6rem;
}

.box-courses {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 3rem;
}

.headding-secondary {
  font-size: 1.2rem;
  text-align: center;
}

.box-cours {
  box-shadow: 1px 2px 1px 1px #d2d9f3;
  background-color: #f0f2f5;
  max-width: 20rem;
  overflow: hidden;
  border-radius: 8px;
}
.image-cours {
  height: 9.2rem;
}

.desc {
  padding: 10px;
}

.headding-tertiary-cours {
  font-size: 12px;
  font-weight: 800;
  padding-bottom: 10px;
}

.flexy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descover-link:link,
.descover-link:visited {
  font-size: 10px;
  background-color: #1f438f;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  padding: 10px 15px;
}

.more-courses {
  place-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #1f438f;
  padding: 10px 20px;
  font-weight: 400;
  border-radius: 8px;
}
.buton {
  text-align: center;
  padding-top: 4rem;
}

.star {
  color: #1f438f;
  font-size: 10px;
}
/******************************** Section team **********************************/
.section-team {
  padding: 3rem 9rem;
  background-color: #f7f7fc85;
}

.team-title {
  font-size: 1.2rem;
  text-align: center;
}

.meet-teacher {
  font-size: 1.4rem;
  margin: 1.6rem 0;
  text-align: center;
}

.image-teacher {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.teachers {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.teacher-box {
  text-align: center;
  background-color: #f3f1f1;
  padding: 1.2rem;
  max-width: 14rem;
  border-radius: 7px;
}

.his-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sm {
  color: #1f438f;
  margin-top: 10px;
}

/*******************************section testimonial*******************************/
.section-testimonials {
  padding: 3rem 9rem;
}

.testimoninal-headding {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2.2rem;
}

.testimonial-image {
  height: 12rem;
}

.flexy-testimonial {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.testimonial-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
  box-shadow: 1px 2px 2px 3px #e6e6e7;
  max-width: 35rem;
  overflow: hidden;
  position: relative;
}

.text-testimonials {
  line-height: 1.5rem;
  margin-bottom: 10px;
}
.text-testimonials::before {
  content: "“";
  font-weight: 700;
  font-size: 2rem;
  color: #777;
  position: absolute;
  top: 1.4rem;
  left: 13.3rem;
}

.text-testimonials::after {
  content: "”";
  font-weight: 700;
  font-size: 2rem;
  color: #777;
  position: absolute;
  top: 7.7rem;
  left: 21.2rem;
}

.student {
  display: flex;
  justify-content: space-between;
}

.testimoniales {
  padding-right: 1.8rem;
}

/*****************************************le footer******************************************/

footer {
  padding: 3rem;
  background-color: #1f438f6d;
}

.footer-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.8rem;
}

.logo-footer {
  height: 4rem;
}

.list-explore {
  list-style: none;
}
.list-explore li {
  font-size: 14px;
  margin-top: 10px;
}

footer h4 {
  color: #fff;
}

.contacts-footer li {
  display: flex;
  text-align: center;
}
.contacts-footer li .address {
  font-size: 16px;
  color: #1f438f;
  padding-right: 10px;
}

.following {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.smf {
  font-size: 1.6rem;
  color: #1f438f;
  margin-top: 10px;
}

.suscribe {
  margin: 2rem 0;
}
.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.invite {
  font-size: 1.2rem;
}
.inputs {
  display: flex;
}

.email {
  width: 340px;
  height: 30px;
  background-color: #fff;
  border: transparent;
  padding-left: 10px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
::placeholder {
  font-size: 16px;
  font-style: italic;
}

.button {
  width: 110px;
  height: 30px;
  background-color: #1f438f;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border: transparent;
  cursor: pointer;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.button:hover,
.button:active {
  background-color: #3159e7a0;
  columns: #333;
}

.copyright {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-direction: row;
  align-items: center;
  border-top: solid 1px #fff;
}

.copyright p {
  margin-top: 2rem;
}
